{{- range .Models.Objects}}
{{$.GoDoc .Name .Description}}
type {{.Name}} struct {
	{{- range .Fields}}
		{{- if .Description}}
		{{$.GoDoc .Name .Description}}
		{{- end}}
		{{$.GoName .Name}} {{.Type}}
	{{- end}}
}
{{end}}
